<app-header [ratedCount]="ratedCount()" [average]="averageRating()"></app-header>

<main class="content">
  <!-- Section 1: Plats (nouveau) -->
  <app-plats></app-plats>

  <div class="controls">
    <button class="toggle" (click)="filterHigh.update(v => !v)">
      {{ filterHigh() ? 'Montrer tout' : 'Filtrer ≥ 4★' }}
    </button>
  </div>
  <!-- pass displayedRestaurants() which is filtered & sorted -->
  <app-restaurant-list [restaurants]="displayedRestaurants()" (restaurantRated)="onRestaurantRated($event)"></app-restaurant-list>
</main>

<app-footer></app-footer>
